body {
    font-family : Arial;
    font-size : 14px;
}

.page-title {
    font-size:24px; 
	font-weight:bold;
}

.cart-header {
	/*background-color: #0040FF;*/
	background-color: #017CA7;
	color: white;
}

.price_range {
	display: flex;
  	align-items: center;
	align-content: space-between;
	flex-wrap: wrap;
}

.price_range input{
	width: 33%;
}

.price_range div{
	margin: auto;
}

.producttable{
	width:100%; 
	border-collapse:collapse;
}

.producttable tbody tr td th{
	width:25%;
}

.producttable tbody tr th{
	background-color: #3366ff;
  	color: white;
}
